# Environment variables
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# Compiled class file
*.class

# Build directory
build/

# Local configuration files
*.properties
!src/main/resources/application.properties

# System Files
.DS_Store
Thumbs.db
